.header-lupa-input{
    /* border: solid rgb(185, 38, 38) 1px; */

    display: flex;

    height: fit-content;
    width: fit-content;

    margin: 4rem 0 0 9rem;
}

.lupa{
    margin-top: 0.7rem;
}

.header-buscador{ /*input*/
    /* padding: 1rem; */
    border: none;
    border-radius: 8px;
    /* width: 18rem; */
    background-color: rgb(246, 246, 201);
}


@media screen and (min-width: 768px) 
and (max-width: 1024px)
{
    .header-lupa-input{
    
        margin: 4rem auto;
        
    }
}

@media screen and (min-width: 480px) 
and (max-width: 767px)
{
    .header-lupa-input{
    
        margin: 4rem auto;
        
    }
}

@media screen and (min-width: 320px) 
and (max-width: 479px)
{
    .header-lupa-input{
    
        margin: 1rem auto;
        width: 2rem;
        
    }
}

