.FQA{
    /* border: solid 1px rgb(255, 0, 221); */
    width: 100%;

}

.FQA > ul > li{
    margin: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: rgb(114, 117, 122);
}

@media screen and (min-width: 768px) 
and (max-width: 1024px)
{
    .FQA{
        margin: 0 auto;
        text-align: center;
    }

    .FQA > ul > li{
        margin: 2rem;
        font-family: 'Inter', sans-serif;
        font-size: medium;
        font-weight: bold;
        color: rgb(114, 117, 122);
    }
}

@media screen and (min-width: 480px) 
and (max-width: 767px)
{
    .FQA{
        margin: 0 auto;
        text-align: center;
    }

    .FQA > ul > li{
        margin: 2rem;
        font-family: 'Inter', sans-serif;
        font-size: medium;
        font-weight: bold;
        color: rgb(114, 117, 122);
    }
}

@media screen and (min-width: 320px) 
and (max-width: 479px)
{
    .FQA{
        margin: 0 auto;
        text-align: center;
    }

    .FQA > ul > li{
        margin: 2rem;
        font-family: 'Inter', sans-serif;
        font-size: medium;
        font-weight: bold;
        color: rgb(114, 117, 122);
    }
}